*.aux
*.synctex
*.synctex.gz
*.graffle
*.swp
.DS_Store
mrfy.md

mrfy_experience_report.log

mrfy_experience_report.pdf
mrfy_experience_report.ps

sigplanconf-guide.pdf

*.bbl
*.blg
*~
*.dvi
*.fdb_latexmk
/Smurf2
