*.aux
*.synctex
*.synctex.gz
*.graffle
*.swp
*.key
.DS_Store
mrfy.md

mrfy_experience_report.log

mrfy_experience_report.pdf
ZZZZZmrfy_experience_report.ps

sigplanconf-guide.pdf

*.bbl
*.blg
*~
*.dvi
*.fdb_latexmk
/Smurf2
/mrfy
/timestamp.tex

amsfonts.sty

bm.sty

jfp.bst

jfp1.cls

jfp2egui.ps

jfp2egui.tex

jfp2egui.toc

mathptmx.sty

readme.txt
/old-branches
/nr-jfp-*
/nr-jfp
/lazy-scored
/master
/good-split
/good-split-unpack
/icfp-branch
/icfp-unpack

/jfp.log
/jfp.pdf
/jfp.ps
/jfperr.*
/icfp-*.tex

vscore.tex

speedup.j

speedup.eps

efficiency.j

efficiency.eps

efficiency.eps

/old-mrfy
/old-mrfy-*
/new-prevs
/simpler-prevs
